.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130vm;
    height: 100vh;
}
.main{
    display: grid;
    width: 30%;
    height: 80%;
    grid-template-rows: 20%;
}
.name{
    color: rgb(0, 110, 255);
    font-size: 60px;
    font-weight: bold;
    font-family: calibri;
}
.in{
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 5px 1px black;
    -moz-box-shadow: 0 0 5px 1px black;
    box-shadow: 0 0 5px 1px black;
    height: 300px;
}
.place{
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 3px 3px 3px 3px;
}
.btn{
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    background-color: rgb(0, 110, 255);
    color: white;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-family: calibri;
    font-size: 25px;
}
.btn:hover {
    opacity: 1;
}
@media only screen and (max-width: 700px){
    .main{
        display: grid;
        width: 70%;
        height: 80%;
        grid-template-rows: 20%;
    }
}
